{% extends "base.html" %}
{% form "marcos.html" import render_form %}
{% block title %}Login{% endblock %}
{% block body %}
<!--1,<h1>Login Page</h1>  2,传入宏并渲染
<h2>登录</h2>

<form method="POST" action="{{ url_for('front.lofin') }}">
{{ form.csrf_token }}
<div class="form-group">
  {{ form.email.label }}{{ form.email(class='form-control') }}
  </div>

  <div class="checkbox">
  <label>
    {{ form.remember_me() }}
    {{ form.remember_me.label.text }}
    </label>
    </div>
{{ form.submit(class="btn btn-primary") }}
</form>
-->

<div class="form">
  <h2>登录</h2>
  {{ render_form(form, url_for('front.login')) }}
</div>
{% endblock %}

